@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@config "../../tailwind.config.ts";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* Scale everything to 80% by setting base font-size to 80% */
  font-size: 80%;
}

body {
  @apply leading-[normal] m-0;
}

@layer base {
  *,
  *::before,
  *::after {
    border-width: 0;
  }
}
